<!DOCTYPE html>
<html>
	<head>
		<title>Darren King: Designer/Developer</title>
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	
	<body>
		<header id="main-nav" class="clearfix">
			<%= link_to "Darren Brett King", root_path, class: "name" %>
			<nav>
				<%= link_to "Musings", musings_path %>
				<%= link_to "Projects", projects_path %>
				<%= link_to "Contact", contact_path %>
			</nav>
		</header>