<%= render 'static_pages/header' %>
		
		<h1 id="page-title">A Musing Example</h1>
		
		
		
		<div id="post-show-content" class="skinny-wrapper">
			<header>
				<p class="date">Friday, April 10th</p>
				<h1>The Do List</h1>
				<hr>
			</header>
			
			<div id="content">
				
				<hr>
				
				<h2>The Musing Begins</h2>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia urna ut eros gravida venenatis. Nulla faucibus urna vitae enim maximus sagittis id sit amet massa. Aliquam ac quam gravida, hendrerit lacus in, pulvinar nulla. Etiam condimentum augue est, blandit finibus ligula vulputate sit amet. Suspendisse potenti. Donec urna tellus, pretium ut sodales et, luctus nec neque. Sed varius ipsum pharetra erat euismod, et lobortis nisi maximus. Proin sagittis risus vel cursus ultrices.</p>

<p>Donec ac elit ut nisi molestie feugiat sed in lorem. Fusce consequat tempor turpis, sed luctus nulla tempor vitae. Sed interdum ligula sit amet dignissim laoreet. Etiam facilisis interdum lectus. Sed lacus massa, ultricies faucibus elit vel, pulvinar fringilla lorem. Nulla facilisi. Aenean at arcu non nibh dignissim fermentum. Aenean lacinia sollicitudin eros, in hendrerit odio elementum sed.</p>

<p>Suspendisse at lorem vel tortor ultrices elementum ut ac est. Cras venenatis bibendum efficitur. Pellentesque in urna lacus. In euismod erat ac volutpat volutpat. In ut eros ut quam facilisis hendrerit. Quisque gravida quis augue id lobortis. Duis nunc magna, ornare et eros eget, hendrerit iaculis sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lorem eget elit consequat luctus. Ut sagittis enim orci, in sodales justo iaculis in. Donec mollis justo nec magna mattis, in dictum nulla rhoncus. Ut in bibendum lorem.
</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia urna ut eros gravida venenatis. Nulla faucibus urna vitae enim maximus sagittis id sit amet massa. Aliquam ac quam gravida, hendrerit lacus in, pulvinar nulla. Etiam condimentum augue est, blandit finibus ligula vulputate sit amet. Suspendisse potenti. Donec urna tellus, pretium ut sodales et, luctus nec neque. Sed varius ipsum pharetra erat euismod, et lobortis nisi maximus. Proin sagittis risus vel cursus ultrices.</p>

<p>Donec ac elit ut nisi molestie feugiat sed in lorem. Fusce consequat tempor turpis, sed luctus nulla tempor vitae. Sed interdum ligula sit amet dignissim laoreet. Etiam facilisis interdum lectus. Sed lacus massa, ultricies faucibus elit vel, pulvinar fringilla lorem. Nulla facilisi. Aenean at arcu non nibh dignissim fermentum. Aenean lacinia sollicitudin eros, in hendrerit odio elementum sed.</p>

<p>Suspendisse at lorem vel tortor ultrices elementum ut ac est. Cras venenatis bibendum efficitur. Pellentesque in urna lacus. In euismod erat ac volutpat volutpat. In ut eros ut quam facilisis hendrerit. Quisque gravida quis augue id lobortis. Duis nunc magna, ornare et eros eget, hendrerit iaculis sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet lorem eget elit consequat luctus. Ut sagittis enim orci, in sodales justo iaculis in. Donec mollis justo nec magna mattis, in dictum nulla rhoncus. Ut in bibendum lorem.
</p>
			</div>
		
		<div id="share-box">
			<p>Share the DO List</p>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-google-plus"></i></a>
		</div>
		
		<hr>

<%= render 'static_pages/footer' %>
		
	</body>
</html>