<div class="wrapper wrapper-padding clearfix">
		<div class="col-1 homepage_content about">
			<h2>About</h2>
			<hr>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia urna ut eros gravida venenatis. Nulla faucibus urna. Sed varius ipsum pharetra erat euismod. Vitae enim maximus sagittis id sit amet massa. Aliquam ac quam gravida, <a href="#">some link here</a> hendrerit lacus in, pulvinar nulla. </p>
			<p>Etiam condimentum augue est, blandit finibus ligula vulputate sit amet. Suspendisse potenti. Donec urna tellus, pretium ut sodales et, luctus nec neque. Sed varius ipsum pharetra erat euismod, et lobortis nisi maximus. Proin sagittis risus vel cursus ultrices.</p>
		</div>
		
		<div class="col-2 homepage_content">
			<h2>My Musings</h2>
			<hr>
			
			<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
			
		</div>
		
		<div class="col-3 homepage_content">
			<h2>My Projects</h2>
			<hr>

			<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>

		</div>
		
		
	</div>